#***************************************************************************
# Codebase 
#***************************************************************************
# -- ignore files/folders that begin with playground/scratch/Untitled
playground*
scratch*
Untitled*
dev*
# -- ignore notebooks by default : use git add -f filename.ipynb to add 
*.ipynb
# -- ignore directories
tmp/
downloads/
logs/


#***************************************************************************
# Mac
#***************************************************************************
.DS_Store


#***************************************************************************
# SUBLIME
#***************************************************************************
*sftp-config.json*


#***************************************************************************
# Python / Tests
#***************************************************************************
*.pyc
*/*.pyc
*__pycache__*
pip-selfcheck.json
man


#***************************************************************************
# Distribution / packaging
#***************************************************************************
.claude/
.Python
.ipynb_checkpoints
build/
develop-eggs/
dist/
MANIFEST
downloads/
eggs/
.eggs/
lib/
lib64/
bin/
include
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
